@model List<webProgramiranje.Models.RezultatIspita>

@{
    ViewBag.Title = "Pregled ispita";
}
<style>
    body {
        background-image: linear-gradient(135deg, #eeeee4 10%, #0e0700 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "Open Sans", sans-serif;
        color: #333333;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        background-color: #FFFFFF;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px 6px #9f9c99;
    }

    .filter-section {
        flex: 1;
        min-width: calc(33.33% - 20px); /* Širina svakog deljenja filtera */
        box-sizing: border-box;
    }

        .filter-section:last-child {
            flex-basis: 100%; /* Poslednji deo sa sortiranjem zauzima punu širinu */
        }

    .form-control {
        width: 100%;
        padding: 1px;
        font-size: 16px;
        border: none;
        outline: none;
        border-bottom: 2px solid #B0B3B9;
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .btn-primary {
        float: right;
        color: #fff;
        font-size: 16px;
        padding: 12px 35px;
        border-radius: 50px;
        display: inline-block;
        border: 0;
        outline: 0;
        background-image: linear-gradient(135deg, #B0B3B9 10%, #eeeee4 100%);
    }

    table {
        width: 90%;
        margin: 40px auto;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 0 20px 6px #9f9c99;
    }

    thead {
        background-color: #9f9c99;
    }

    th, td {
        padding: 10px 20px;
    }
</style>
<h2>Pregled mojih ispita</h2>

@using (Html.BeginForm("FilterAndSortExams", "Student", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-3">
            Filtriraj po ispitnom roku:
            @Html.TextBox("rokFilter", null, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            Filtriraj po nazivu predmeta:
            @Html.TextBox("predmetFilter", null, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            Filtriraj po oceni:
            @Html.TextBox("ocenaFilter", null, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            Sortiraj po:
            @Html.DropDownList("sortCriteria", new List<SelectListItem>
            {
                new SelectListItem { Text = "Ispitnom roku", Value = "Rok" },
                new SelectListItem { Text = "Nazivu predmeta", Value = "Predmet" },
                new SelectListItem { Text = "Oceni", Value = "Ocena" }
            }, "Izaberite", new { @class = "form-control" })
            @Html.DropDownList("sortOrder", new List<SelectListItem>
{
    new SelectListItem { Text = "Rastuće", Value = "Asc" },
    new SelectListItem { Text = "Opadajuće", Value = "Desc" }
}, "Izaberite", new { @class = "form-control" })
            <br />
            <button type="submit" class="btn btn-primary">Primeni filtere i sortiranje</button>
        </div>
    </div>
    <hr />
}

<table class="table">
    <thead>
        <tr>
            <th>Profesor</th>
            <th>Predmet</th>
            <th>Datum i vreme održavanja</th>
            <th>Naziv učionice</th>
            <th>Naziv ispitnog roka</th>
            <th>Ocena</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ispit in Model)
        {
            <tr>
                <td>@ispit.Ispit.Profesor</td>
                <td>@ispit.Ispit.Predmet</td>
                <td>@ispit.Ispit.DatumIVremeOdrzavanja.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@ispit.Ispit.NazivUcionice</td>
                <td>@ispit.Ispit.NazivIspitnogRoka</td>
                <td>@(ispit.Ocena != 5 ? ispit.Ocena.ToString() : "")</td>
                <td>@(ispit.Ocena > 5 ? "Položen" : "Nepoložen")</td>
            </tr>
        }
    </tbody>
</table>
