@model List<webProgramiranje.Models.Ispit>

@{
    ViewBag.Title = "Prijavi ispit";
}
<style>
    body {
        background-image: linear-gradient(135deg, #eeeee4 10%, #0e0700 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "Open Sans", sans-serif;
        color: #333333;
    }

    .box-form {
        margin: auto;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex: 1 1 100%;
        align-items: stretch;
        justify-content: space-between;
        box-shadow: 0 0 20px 6px #9f9c99;
    }

        .box-form .left {
            color: #FFFFFF;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("https://wallpapercave.com/wp/ew0V5jf.jpg");
            overflow: hidden;
        }

            .box-form .left .overlay {
                padding: 30px;
                width: 100%;
                height: 100%;
                background: #9f9c99ad;
                overflow: hidden;
                box-sizing: border-box;
            }

                .box-form .left .overlay h1 {
                    font-size: 10vmax;
                    line-height: 1;
                    font-weight: 900;
                    margin-top: 40px;
                    margin-bottom: 20px;
                }

                .box-form .left .overlay span p {
                    margin-top: 30px;
                    font-weight: 900;
                }

                .box-form .left .overlay span a {
                    background: #3b5998;
                    color: #FFFFFF;
                    margin-top: 10px;
                    padding: 14px 40px;
                    border-radius: 100px;
                    display: inline-block;
                    box-shadow: 0 3px 6px 1px #042d4657;
                }

                    .box-form .left .overlay span a:last-child {
                        background: #1dcaff;
                        margin-left: 30px;
                    }

        .box-form .right {
            padding: 30px;
            width: 70%;
        }

    .alert {
        margin-bottom: 20px;
    }

    table {
        width: 90%;
        margin: 40px auto;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 0 20px 6px #9f9c99;
    }

    thead {
        background-color: #9f9c99;
    }

    th, td {
        padding: 10px 20px;
    }

    input[type="submit"] {
        float: right;
        color: #fff;
        font-size: 12px;
        padding: 8px 20px;
        border-radius: 20px;
        display: inline-block;
        border: 0;
        outline: 0;
        background-image: linear-gradient(135deg, #B0B3B9 10%, #eeeee4 100%);
    }

        input[type="submit"]:hover {
            background-color: #2c3e50;
        }

    .inline-form {
        display: inline-block;
    }
</style>


<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h2>Prijavi ispit</h2>
        </div>
    </div>
    <div class="right">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        <table class="table">
            <thead>
                <tr>
                    <th>Profesor</th>
                    <th>Predmet</th>
                    <th>Datum i vreme održavanja</th>
                    <th>Naziv učionice</th>
                    <th>Naziv ispitnog roka</th>
                    <th>Prijavi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ispit in Model)
                {
                    <tr>
                        <td>@ispit.Profesor</td>
                        <td>@ispit.Predmet</td>
                        <td>@ispit.DatumIVremeOdrzavanja.ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@ispit.NazivUcionice</td>
                        <td>@ispit.NazivIspitnogRoka @ispit.Id</td>
                        <td>
                            @using (Html.BeginForm("PrijaviIspit", "Student", new { id = ispit.Id }, FormMethod.Post, new { @class = "inline-form" }))
                            {
                                <input type="submit" value="Prijavi" class="btn btn-primary" />
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
