@model List<webProgramiranje.Models.Student>
<style>
    body {
        background-image: linear-gradient(135deg, #eeeee4 10%, #0e0700 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "Open Sans", sans-serif;
        color: #333333;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        background-color: #FFFFFF;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px 6px #9f9c99;
    }

    .filter-section {
        flex: 1;
        min-width: calc(33.33% - 20px); /* Širina svakog deljenja filtera */
        box-sizing: border-box;
    }

        .filter-section:last-child {
            flex-basis: 100%; /* Poslednji deo sa sortiranjem zauzima punu širinu */
        }

    .form-control {
        width: 100%;
        padding: 1px;
        font-size: 16px;
        border: none;
        outline: none;
        border-bottom: 2px solid #B0B3B9;
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .btn-primary {
        float: right;
        color: #fff;
        font-size: 16px;
        padding: 12px 35px;
        border-radius: 50px;
        display: inline-block;
        border: 0;
        outline: 0;
        background-image: linear-gradient(135deg, #B0B3B9 10%, #eeeee4 100%);
    }

    table {
        width: 90%;
        margin: 40px auto;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 0 20px 6px #9f9c99;
    }

    thead {
        background-color: #9f9c99;
    }

    th, td {
        padding: 10px 20px;
    }

    .form-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 15px;
    }

        .form-section > div {
            width: 48%; /* Polovina širine - s obzirom na margin */
        }

</style>

<h2>Pregled studenata</h2>

<form method="post" action="@Url.Action("FilterAndSort")">
    <!-- Sekcija za filtriranje -->
    <div class="form-section">
        <div>
            <label for="imeFilter">Filtriraj po Imenu:</label>
            <input type="text" id="imeFilter" name="imeFilter" placeholder="Ime" class="form-control" />
        </div>
        <div>
            <label for="prezimeFilter">Filtriraj po Prezimenu:</label>
            <input type="text" id="prezimeFilter" name="prezimeFilter" placeholder="Prezime" class="form-control" />
        </div>
        <div>
            <label for="indeksFilter">Filtriraj po Broju indeksa:</label>
            <input type="text" id="indeksFilter" name="indeksFilter" placeholder="Broj indeksa" class="form-control" />
        </div>
    </div>

    <!-- Sekcija za sortiranje -->
    <div class="form-section">
        <div>
            <label for="sortCriteria">Sortiraj po:</label>
            <select id="sortCriteria" name="sortCriteria" class="form-control">
                <option value="Ime">Ime</option>
                <option value="Prezime">Prezime</option>
                <option value="BrojIndeksa">Broj indeksa</option>
            </select>
        </div>
        <div>
            <label for="sortDirection">Smer sortiranja:</label>
            <select id="sortDirection" name="sortDirection" class="form-control">
                <option value="asc">Rastuće</option>
                <option value="desc">Opadajuće</option>
            </select>
        </div>
    </div>

    <!-- Dugme za primenu -->
    <div class="form-section">
        <button type="submit" class="btn btn-primary">Primeni</button>
    </div>
</form>
<br />
<a href="@Url.Action("CreateStudent")" class="btn btn-primary">Kreiraj studenta</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Korisnicko ime</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Broj indeksa</th>
            <th>Datum Rodjenja</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.KorisnickoIme</td>
                <td>@student.Ime</td>
                <td>@student.Prezime</td>
                <td>@student.ElektronskaPosta</td>
                <td>@student.BrojIndeksa</td>
                <td>@student.DatumRodjenja.ToString("dd.MM.yyyy")</td>
                <td>
                    <a href="@Url.Action("EditStudent", new { username = student.KorisnickoIme })" class="btn btn-primary">Izmeni</a>
                    <a href="@Url.Action("DeleteStudent", new { username = student.KorisnickoIme })" class="btn btn-primary">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
