@model webProgramiranje.Models.Ispit


@{
    ViewBag.Title = "Kreiranje ispita";
}

<h2>Kreiranje ispita</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-group">
    @Html.LabelFor(model => model.Profesor)
    @Html.TextBox("Profesor", Context.Session["Username"], new { @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.Profesor)
</div>

    <div class="form-group">
        @Html.LabelFor(model => model.Predmet)
        @Html.DropDownListFor(model => model.Predmet, (IEnumerable<SelectListItem>)ViewBag.Predmeti)
        @Html.ValidationMessageFor(model => model.Predmet)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DatumIVremeOdrzavanja)
        @Html.TextBoxFor(model => model.DatumIVremeOdrzavanja, "{0:yyyy-MM-dd HH:mm}", new { @type = "datetime-local" })
        @Html.ValidationMessageFor(model => model.DatumIVremeOdrzavanja)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NazivUcionice)
        @Html.EditorFor(model => model.NazivUcionice)
        @Html.ValidationMessageFor(model => model.NazivUcionice)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NazivIspitnogRoka)
        @Html.EditorFor(model => model.NazivIspitnogRoka)
        @Html.ValidationMessageFor(model => model.NazivIspitnogRoka)
    </div>

    <div class="form-group">
        <input type="submit" value="Kreiraj ispit" class="btn btn-primary" />
    </div>
}
