@model List<webProgramiranje.Models.RezultatIspita>

@{
    ViewBag.Title = "Pregled ispita";
}

<style>
    body {
        background-image: linear-gradient(135deg, #eeeee4 10%, #0e0700 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "Open Sans", sans-serif;
        color: #333333;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        background-color: #FFFFFF;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px 6px #9f9c99;
    }

    .filter-section {
        flex: 1;
        min-width: calc(33.33% - 20px); /* Širina svakog deljenja filtera */
        box-sizing: border-box;
    }

        .filter-section:last-child {
            flex-basis: 100%; /* Poslednji deo sa sortiranjem zauzima punu širinu */
        }

    .form-control {
        width: 100%;
        padding: 1px;
        font-size: 16px;
        border: none;
        outline: none;
        border-bottom: 2px solid #B0B3B9;
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .btn-primary {
        float: right;
        color: #fff;
        font-size: 16px;
        padding: 12px 35px;
        border-radius: 50px;
        display: inline-block;
        border: 0;
        outline: 0;
        background-image: linear-gradient(135deg, #B0B3B9 10%, #eeeee4 100%);
    }

    table {
        width: 90%;
        margin: 40px auto;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 0 20px 6px #9f9c99;
    }

    thead {
        background-color: #9f9c99;
    }

    th, td {
        padding: 10px 20px;
    }
</style>
<h2>Pregled ispita</h2>
<form action="@Url.Action("FilterAndSortExams", "Profesor")" method="post">
    <div class="filter-section">
        Filtriraj po ispitnom roku:
        <input type="text" name="rokFilter" placeholder="Unesite ispitni rok..." class="form-control" />
    </div>
    <div class="filter-section">
        Filtriraj po predmetu:
        <input type="text" name="predmetFilter" placeholder="Unesite predmet..." class="form-control" />
    </div>
    <div class="filter-section">
        Filtriraj po oceni:
        <input type="number" name="ocenaFilter" min="5" max="10" placeholder="Unesite ocenu..." class="form-control" />
    </div>
    <div class="filter-section">
        Filtriraj po imenu studenta:
        <input type="text" name="imeFilter" placeholder="Unesite ime..." class="form-control" />
    </div>
    <div class="filter-section">
        Filtriraj po prezimenu studenta:
        <input type="text" name="prezimeFilter" placeholder="Unesite prezime..." class="form-control" />
    </div>
    <div class="filter-section">
        Filtriraj po indeksu studenta:
        <input type="text" name="indeksFilter" placeholder="Unesite broj indeksa..." class="form-control" />
    </div>
    <div class="filter-section">
        Sortiraj po:
        @Html.DropDownList("sortCriteria", new List<SelectListItem>
        {
            new SelectListItem { Text = "Ispitnom roku", Value = "Rok" },
            new SelectListItem { Text = "Predmetu", Value = "Predmet" },
            new SelectListItem { Text = "Oceni", Value = "Ocena" },
            new SelectListItem { Text = "Imenu studenta", Value = "Ime" },
            new SelectListItem { Text = "Prezimenu studenta", Value = "Prezime" },
            new SelectListItem { Text = "Indeksu studenta", Value = "Indeks" },
        }, "Izaberite", new { @class = "form-control" })

        @Html.DropDownList("sortOrder", new List<SelectListItem>
        {
            new SelectListItem { Text = "Rastuće", Value = "Asc" },
            new SelectListItem { Text = "Opadajuće", Value = "Desc" }
        }, "Izaberite", new { @class = "form-control" })
    </div>
    <div class="filter-section">
        <input type="submit" value="Primeni filtere i sortiranje" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Profesor</th>
            <th>Predmet</th>
            <th>Datum i vreme održavanja</th>
            <th>Naziv učionice</th>
            <th>Naziv ispitnog roka</th>
            <th>Ime Studenta</th>
            <th>Prezime Studenta</th>
            <th>Broj Indexa Studenta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ispit in Model)
        {
            <tr>
                <td>@ispit.Ispit.Profesor</td>
                <td>@ispit.Ispit.Predmet</td>
                <td>@ispit.Ispit.DatumIVremeOdrzavanja.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@ispit.Ispit.NazivUcionice</td>
                <td>@ispit.Ispit.NazivIspitnogRoka</td>
                <td>@ispit.Student.Ime</td>
                <td>@ispit.Student.Prezime</td>
                <td>@ispit.Student.BrojIndeksa</td>
            </tr>
        }
    </tbody>
</table>
